body {
    background: url('https://media.macphun.com/img/uploads/customer/blog/1541154551/15411555025bdc2aae54d493.92923804.jpg?q=85&w=1680') no-repeat center center fixed;
}
header {
    text-align: center;
}

header h1 {
    margin: 100px 0px 80px 0px;
    color: #DDD;
    font-size: 40px;
    font-family:sans-serif;
    font-weight: 900;
}

header img {
    width: 300px;
    height: 300px;
    border-radius: 50% 50%;
    border: 3px solid #333;
    margin-bottom: 90px;
    opacity: .7;
}

.content {
    height: 700px;
    display: grid;
    grid-template-columns: 250px 250px 250px;
    justify-content: space-around;
    align-content: space-between;
    margin-bottom: 120px;
}

.content .card {
    height: 300px;
    background-color: #ccc;
    border-radius: 10px;
}

.content .card:hover {
    background-color: #eeeeee;
}
.content .card i {
    /* color: #830202; */
    margin-right: 10px;
}

ul {
    list-style-type: none;
}

footer {
    text-align: center;
    margin-top: 90px;
    margin-bottom: 45px;
}

footer h2 {
    
    color: #DDD;
    margin-top: 70px;
    margin-bottom: 50px;
    font-family:sans-serif;
}

footer h2 i {
    margin: 10px;
}
footer ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    color: #DDD;
}
footer ul li {
    display: inline;
}
footer ul li i {
    font-size: 46px;
    background-color: #DDD;
    border-radius: 50% 50%;
    border: 2px solid #ddd;
    
}

footer ul li i:hover {
    transform: rotate(180deg);
    transition-duration: .3s;
}
